@mixin container() {
    display: block;
	padding: 1rem calc(50% - 490px);
}

@mixin ease-in-out-sine-gradient($startColor, $direction, $satOverwrite: null, $lightOverwrite: null){
	$hue: hue($startColor);
	$saturation: saturation($startColor);
	$lightness: lightness($startColor);
	@if $satOverwrite != null { $saturation: $satOverwrite; }
	@if $lightOverwrite != null { $lightness: $lightOverwrite; }
	
	background: linear-gradient(
	  $direction,
	  hsl($hue, $saturation, $lightness) 0%,
	hsla($hue, $saturation, $lightness, 0.738) 19%,
	hsla($hue, $saturation, $lightness, 0.541) 34%,
	hsla($hue, $saturation, $lightness, 0.382) 47%,
	hsla($hue, $saturation, $lightness, 0.278) 56.5%,
	hsla($hue, $saturation, $lightness, 0.194) 65%,
	hsla($hue, $saturation, $lightness, 0.126) 73%,
	hsla($hue, $saturation, $lightness, 0.075) 80.2%,
	hsla($hue, $saturation, $lightness, 0.042) 86.1%,
	hsla($hue, $saturation, $lightness, 0.021) 91%,
	hsla($hue, $saturation, $lightness, 0.008) 95.2%,
	hsla($hue, $saturation, $lightness, 0.002) 98.2%,
	hsla($hue, $saturation, $lightness, 0) 100%);
  }

@mixin mountain($height: 10vw, $width: 10vw, $snow: false, $size: 'small') {
	$mountain-min: 100px;
	$mountain-max: 300px;
	@if $size == 'small' {
		$mountain-min: 100px;
		$mountain-max: 300px;
	} @else if $size == 'medium' {
		$mountain-min: 200px;
		$mountain-max: 600px;
	} @else if $size == 'large' {
		$mountain-min: 300px;
		$mountain-max: 750px;
	}
	
	position: absolute;
	height: $height;
	width: $width;
	max-height: $mountain-max;
	min-height: $mountain-min;
	max-width: $mountain-max;
	min-width: $mountain-min;
	background-color: $blue;
	transform-origin: bottom left;
	transform: rotate(45deg);
	overflow: hidden;
	z-index: 3;
	box-shadow: -1px -1px 2px rgba($color: $navy, $alpha: 0.5);

	@if $snow {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: calc(#{$width} / 2);
			height: calc(#{$height} / 2);
			max-height: calc(#{$mountain-max} / 2);
			min-height: calc(#{$mountain-min} / 2);
			max-width: calc(#{$mountain-max} / 2);
			min-width: calc(#{$mountain-min} / 2);
			background-color: $white;
			transform: rotate(40deg) translate(-75%, 0%);
		}
	}

	&:nth-child(even):after {
		transform: rotate(50deg) translate(-75%, 0%);
	}
}