@mixin mountain($height: 10vw, $width: 10vw, $snow: false, $size: 'small') {
	$mountain-min: 100px;
	$mountain-max: 300px;
	@if $size == 'small' {
		$mountain-min: 100px;
		$mountain-max: 300px;
	} @else if $size == 'medium' {
		$mountain-min: 200px;
		$mountain-max: 600px;
	} @else if $size == 'large' {
		$mountain-min: 300px;
		$mountain-max: 750px;
	}
	
	position: absolute;
	height: $height;
	width: $width;
	max-height: $mountain-max;
	min-height: $mountain-min;
	max-width: $mountain-max;
	min-width: $mountain-min;
	background-color: $blue;
	transform-origin: bottom left;
	transform: rotate(45deg);
	overflow: hidden;
	z-index: 3;
	box-shadow: -1px -1px 2px rgba($color: $navy, $alpha: 0.5);

	@if $snow {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: calc(#{$width} / 2);
			height: calc(#{$height} / 2);
			max-height: calc(#{$mountain-max} / 2);
			min-height: calc(#{$mountain-min} / 2);
			max-width: calc(#{$mountain-max} / 2);
			min-width: calc(#{$mountain-min} / 2);
			background-color: $white;
			transform: rotate(40deg) translate(-75%, 0%);
		}
	}

	&:nth-child(even):after {
		transform: rotate(50deg) translate(-75%, 0%);
	}
}