.header {
    display: block;
	width: 100%;
	@include box-shadow();
	position: fixed;
	top: 0;
	z-index: 99;

	&__inner {
        @include container(large);
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		background-color: $theme-background;
		border-bottom: 2px solid $theme-accent;
	}
    
    &__nav {
		padding-left: 3rem;
    }

	&__nav-item {
		position: relative;
		display: inline-block;
		font-size: 20px;
		color: $theme-accent;
		padding: 0 0.5rem;
		transition: all 200ms ease;

		&:after {
			position: absolute;
			top: -4px;
			left: 0;
			display: inline-block;
			content: '';
			height: 3px;
			width: 100%;
			border-radius: 4px;
			background-color: $theme-accent;
			opacity: 0;
			transition: all 200ms ease;
		}

		&:hover {
			transform: translateY(2px);

			&:after {
				opacity: 1;
			}
		}
	}

	&__left{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 1rem;
	}

	&__right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 1rem;
	}

	&__logo {
		width: 50px;
		cursor: pointer;
		
		svg {
			display: block;
			max-width: 100%;

			path {
				fill: $theme-accent;
				transition: fill 350ms ease;
			}
		}

		&:hover {
			svg path {
				fill: $theme-accent-hover;
			}
		}
	}
}

@media (max-width: $breakpoint) {
	.header {
		&__nav {
			display: none;
		}
	}
}