.header {
    display: block;
	width: 100%;
    text-align: center;
    background-color: $theme-background;
	position: fixed;
	top: 0;
	z-index: 99;
	border-bottom: 2px solid $theme-accent;
	@include box-shadow();

	&__inner {
        @include container(large);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
    
    &__nav {
		flex: 1 1 auto;
    }

	&__nav-item {
		position: relative;
		display: inline-block;
		font-size: 20px;
		color: $theme-accent;
		padding: 0 0.5rem;
		transition: all 200ms ease;

		&:after {
			position: absolute;
			top: -4px;
			left: 0;
			display: inline-block;
			content: '';
			height: 3px;
			width: 100%;
			border-radius: 4px;
			background-color: $theme-accent;
			opacity: 0;
			transition: all 200ms ease;
		}

		&:hover {
			transform: translateY(2px);

			&:after {
				opacity: 1;
			}
		}
	}

	&__left,
	&__right {
		flex: 0 0 200px;
	}

	&__theme-toggle {
		display: block;
		position: relative;
		height: 2rem;
		width: 4rem;
		margin-left: 0.75rem;
		color: $theme-accent;
		font-size: 2rem;
		border: 2px solid $theme-accent;
		border-radius: 2rem;
		cursor: pointer;
		@include box-shadow();
		transition: all 350ms ease;

		&:after {
			content: '';
			position: absolute;
			left: 0.25rem;
			top: 50%;
			transform: translate(0, -50%);
			background-color: $theme-accent;
			height: 1.25rem;
			width: 1.25rem;
			border-radius: 100%;
			transition: all 350ms ease;
		}

		&--dark-mode {

			&:after {
				transform: translate(32px, -50%);
				background-color: $theme-accent;
				height: 22px;
				width: 22px;
			}

			.header__theme-toggle-moon {
				opacity: 1;
			}
		}
	}

	&__theme-toggle-moon {
		display: block;
		position: absolute;
		top: 50%;
		left: 4px;
		transform: translateY(-50%);
		font-size: 22px;
		color: $theme-accent;
		opacity: 0;
		transition: all 350ms ease;;
	}
}