.header {
    display: block;
	width: 100%;
	@include box-shadow();
	position: fixed;
	top: 0;
	z-index: 99;

	&__inner {
        @include container(large);
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		background-color: $theme-background;
		border-bottom: 2px solid $theme-accent;
	}
    
    &__nav {
		padding-left: 3rem;
    }

	&__nav-item {
		position: relative;
		display: inline-block;
		font-size: 20px;
		color: $theme-accent;
		padding: 0 0.5rem;
		transition: all 200ms ease;

		&:after {
			position: absolute;
			top: -4px;
			left: 0;
			display: inline-block;
			content: '';
			height: 3px;
			width: 100%;
			border-radius: 4px;
			background-color: $theme-accent;
			opacity: 0;
			transition: all 200ms ease;
		}

		&:hover {
			transform: translateY(2px);

			&:after {
				opacity: 1;
			}
		}
	}

	&__left{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 1rem;
	}

	&__right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 1rem;
	}

	&__logo {
		width: 50px;
		cursor: pointer;
		
		svg {
			display: block;
			max-width: 100%;

			path{
				fill: $theme-accent;
				transition: fill 350ms ease;
			}
		}

		&:hover {
			svg path {
				fill: darken($theme-accent, 20%);
			}
		}
	}

	&__theme-toggle {
		display: inline-block;
		position: relative;
		height: 31px;
		width: 4rem;
		margin-right: 1.5rem;
		color: $theme-accent;
		font-size: 2rem;
		border: 2px solid $theme-accent;
		border-radius: 2rem;
		cursor: pointer;
		@include box-shadow();
		transition: all 350ms ease;

		&:after {
			content: '';
			position: absolute;
			left: 0.25rem;
			top: 50%;
			transform: translate(0, -50%);
			background-color: $theme-accent;
			height: 1.25rem;
			width: 1.25rem;
			border-radius: 100%;
			transition: all 350ms ease;
		}

		&--dark-mode {

			&:after {
				transform: translate(32px, -50%);
				background-color: $theme-accent;
			}

			.header__theme-toggle-moon {
				opacity: 1;
			}
		}
	}

	&__theme-toggle-moon {
		display: block;
		position: absolute;
		top: 50%;
		left: 6px;
		transform: translateY(-50%);
		font-size: 20px;
		color: $theme-accent;
		opacity: 0;
		transition: all 350ms ease;;
	}
}