<div class="language-scss highlighter-rouge">
	<div class="highlight">
		<pre class="highlight"><code><span class="k">@import</span> <span class="s2">"ic-settings"</span><span class="p">;</span>

<span class="nc">.dashboard-content-section</span> <span class="p">{</span>
	<span class="nl">padding-bottom</span><span class="p">:</span> <span class="m">2</span><span class="mi">.5rem</span><span class="p">;</span>

	<span class="k">&amp;</span><span class="nt">__header</span> <span class="p">{</span>
		<span class="nl">display</span><span class="p">:</span> <span class="n">flex</span><span class="p">;</span>
		<span class="nl">align-items</span><span class="p">:</span> <span class="nb">baseline</span><span class="p">;</span>
		<span class="nl">flex-wrap</span><span class="p">:</span> <span class="nb">nowrap</span><span class="p">;</span>
		<span class="nl">justify-content</span><span class="p">:</span> <span class="n">space-between</span><span class="p">;</span>
		<span class="nl">padding-bottom</span><span class="p">:</span> <span class="m">0</span><span class="mi">.5rem</span><span class="p">;</span>
	<span class="p">}</span>

	<span class="k">&amp;</span><span class="nt">__title</span> <span class="p">{</span>
		<span class="nl">display</span><span class="p">:</span> <span class="n">inline-block</span><span class="p">;</span>
		<span class="k">@include</span> <span class="nd">ac-text-24</span><span class="p">();</span>
		<span class="nl">margin</span><span class="p">:</span> <span class="m">0</span><span class="p">;</span>
	<span class="p">}</span>

	<span class="k">&amp;</span><span class="nt">__subtitle</span> <span class="p">{</span>
		<span class="nl">display</span><span class="p">:</span> <span class="n">inline-block</span><span class="p">;</span>
		<span class="k">@include</span> <span class="nd">ac-text-small</span><span class="p">();</span>
		<span class="nl">color</span><span class="p">:</span> <span class="nv">$ac-gray-secondary</span><span class="p">;</span>
		<span class="nl">margin-left</span><span class="p">:</span> <span class="m">1rem</span><span class="p">;</span>
	<span class="p">}</span>

	<span class="k">&amp;</span><span class="nt">__body</span> <span class="p">{</span>
		<span class="k">&amp;</span><span class="nt">--no-data</span> <span class="p">{</span>
			<span class="nl">padding</span><span class="p">:</span> <span class="m">2</span><span class="mi">.5rem</span><span class="p">;</span>
			<span class="nl">text-align</span><span class="p">:</span> <span class="nb">center</span><span class="p">;</span>
			<span class="nl">background-color</span><span class="p">:</span> <span class="nv">$ac-gray-tertiary</span><span class="p">;</span>
		<span class="p">}</span>
	<span class="p">}</span>
<span class="p">}</span>
</code></pre>
	</div>
</div>