<header class="header">
	<div class="header__inner">
		<div class="header__left">
			<div class="header__theme-toggle"></div>
		</div>

		<nav class="header__nav">
			<a href="/" class="header__nav-item">Home</a>
			<a href="/blog" class="header__nav-item">Blog</a>
		</nav>

		<div class="header__right">
			<ul class="header__icon-list">
				<li class="header__icon">GH</li>
				<li class="header__icon">LI</li>
				<li class="header__icon">CP</li><!-- maybe -->
			</ul>
		</div>
	</div>
</header>