<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="description" content="{{page.description}}" />

	<!-- Sharing Meta -->
	<meta property="og:title" content="{{page.title}}" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{page.description}}">
	<meta property="og:image" content="{{page.socialImage}}" />
	<meta property="og:url" content="https://www.joshdelgado.com" />
	<meta property="og:site_name" content="Josh Delgado">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image:alt" content="Josh Delgado's Portfolio">

	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
	<link rel="canonical" href="https://www.joshdelgado.com" />

	<!-- javascript -->
	<script src="https://kit.fontawesome.com/d3bfb2ecca.js" crossorigin="anonymous" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.1/cash.min.js" defer></script>
	<script src="/assets/js/main.js" defer></script>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="preload"
		as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css">
	<noscript>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
			rel="stylesheet" type="text/css">
	</noscript>
</head>