<ul class="social-links">
	<li class="social-links__icon">
		<a href="https://github.com/joshdelgado" class="fab fa-github" target="_blank"></a>
	</li>
	<li class="social-links__icon">
		<a href="https://www.linkedin.com/in/josh-delgado/" class="fab fa-linkedin" target="_blank"></a>
	</li>
	<li class="social-links__icon">
		<a href="https://codepen.io/joshdelgado" class="fab fa-codepen" target="_blank"></a>
	</li>
	<li class="social-links__icon">
		<a href="mailto:contact@joshdelgado.me" class="far fa-envelope" target="_blank"></a>
	</li>
</ul>