$percentage: 2%;

.project {
	&__hero {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 66px;
		min-height: 320px;
		background-color: #111;
	}

	&__title {
		position: relative;
		z-index: 2;
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1px;
		color: $theme-text;
		text-shadow: 1px 1px 1px $theme-background;
	}

	&__tool-list {
		position: absolute;
		bottom: 0;
		margin: 0;
		padding: 0 0 0.5rem;
		list-style: none;
	}

	&__tool-list-item {
		margin: 0 0.75rem;
		display: inline-block;
		text-align: center;
		font-size: 14px;
		color: $theme-text;
	}

	&__content {
		background-color: $theme-background2;
		color: $theme-text;
		padding-bottom: 4rem;

		p {
			font-size: 18px;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;

				img {
					padding-bottom: 0;
				}
			}
		}

		&:after{
			display: inline-block;
			content:'';
			background-color: $theme-background;
			width: 100%;
			height: 100px;
			border-top: solid 100px darken($theme-background2, $percentage);
			border-left: solid 50vw $theme-background2;
			border-right: solid 50vw $theme-background2;
			transition: all 350ms ease;
		}
	}

	&__gif {
		display: block;
		width: 36px;
		margin: 64px auto 0 ;

		img {
			width: 100%;
		}
	}

	&--alt {
		.project {
			&__title {
				position: relative;
				display: flex;
				@include backlight(0, 0, 40px, 0.95, .75, #0fffc1, #7e0fff, 10s);

				span {
					background-color:  #191919;
					height: 100%;
					width: 100%;
					padding: 2rem 3rem;
				}
			}
		}
	}
}

$box-shadow-img: 0 0 16px 0 #00000030;

@keyframes float {
	0% { transform: translateY(0px); }
	100% { transform: translateY(-4px); }
}

.project-section {
	position: relative;
	// min-height: 80vh;
	border-bottom: 2px solid $theme-background2;

	&__inner {
		// @include container(large);
		padding-top: 4rem;
		padding-bottom: 4rem;
		overflow: hidden;
	}

	&__title {
		font-size: 48px;
		font-weight: 700;
		text-align: center;
		padding-bottom: 4rem;
		margin: 0;
	}

	&__intro {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__intro-text {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	} 

	&__summary {
		text-align: center;
		font-size: 36px !important; 
		line-height: 1.5;
		max-width: 860px;
		margin: 0 auto;
	}

	&__team {

		&--inline{
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding-top: 3.25rem;

			.project-section__team-member {
				margin: 0 1.75rem;
			}
		}
	}

	&__team-member {
		padding: 0.75rem 0;

		strong {
			display: block;
			font-weight: 400;
			padding-bottom: 0.25rem;
		}
		span {
			font-weight: 700;
			font-size: 24px; 
		}

		&:last-child {
			margin-right: 0;
			padding-bottom: 0;
		}

		&:first-child {
			margin-left: 0;
		}
	}
	&__img2 span {
		display: inline-block;
		position: relative;
		z-index: 1;
		margin: 8px;
		border-radius: 8px;

		img {
			display: block;
			border-radius: 8px;
		}

		&:after {
			content: '';
			position: absolute;
			top: -8px;
			left: -8px;
			z-index: -1;
			height: calc(100% + 16px);
			width: calc(100% + 16px);
			border-radius: 8px;
			background-image: linear-gradient(to bottom, #0fffc1 0%, #7e0fff 100%);
			box-shadow: $box-shadow-img;
		}
	}

	&__img {
		display: block;
		position: relative;
		z-index: 1;
		height: 600px;
		margin: 8px;
		border-radius: 8px;
		overflow: visible;

		span {
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0;
			overflow: hidden;
			border-radius: 8px;
			box-shadow: $box-shadow-img;
		}

		img {
			display: inherit;
			border-radius: 8px;
		}

		&:after {
			content: '';
			position: absolute;
			top: -8px;
			left: -8px;
			z-index: -1;
			height: calc(100% + 16px);
			width: calc(100% + 16px);
			border-radius: 8px;
			background-image: linear-gradient(to bottom, #0fffc1 0%, #7e0fff 100%);
			box-shadow: $box-shadow-img;
		}

		&--no-scroll {
			z-index: 1;
			@include box-shadow();
			height: auto;

			img {
				box-shadow: $box-shadow-img;
				cursor: auto;
			}
		}

		&--fixed {
			img {
				max-height: 65vh;
			}
		}
	}

	&__mockups {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
	}

	@for $i from 1 to 10 {
		&:nth-last-child(#{$i}){
			background-color: darken($theme-background2, $percentage * $i);

			@if ($i == 1){
				border-width: 0;
				// &:after {
				// 	content: '';
				// 	position: absolute;
				// 	left: 0;
				// 	right: 0;
				// 	height: 160px;
				// 	z-index: 10;
				// 	@include ease-in-out-sine-gradient(darken($theme-background2, $percentage), to bottom);
				// }
			}
		}
	}	
}

.project-section--intro {
	.project-section {
		&__inner {
			@include container(large);
			padding-bottom: 0;
		}
		&__intro-text {
			padding: 5rem 0;
		}
		&__img {
			margin: 0 auto;
			position: relative;
			bottom: -0.5rem;

			img {
				width: 100%;
			}
		}
	}
}

.project-section--problem {}
.project-section--project {}
.project-section--process {
	.project-section {}
	.flex-row__column {
		padding: 3rem 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		pre {
			text-align: left;
		}

		p {
			font-size: 32px;
		}
	}
}
.project-section--conclusion {}