 
  .work-page {
	&__hero {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 66px;
		min-height: 320px;
		background-color: #111;
		border-bottom: 2px solid $navy;
	}

	&__title {
		position: relative;
		z-index: 2;
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1px;
		color: $white;
		text-shadow: 1px 1px 1px $navy;
	}

	&__tool-list {
		position: absolute;
		bottom: 0;
		margin: 0;
		padding: 0 0 0.5rem;
		list-style: none;
	}

	&__tool-list-item {
		margin: 0 0.75rem;
		display: inline-block;
		text-align: center;
		font-size: 14px;
		color: $white;
	}

	&__content {
		background-color: $blue;
		color: $white;
		// @include container(large);
		// padding-top: 4rem;
		padding-bottom: 4rem;

		p {
			font-size: 18px;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;

				img {
					padding-bottom: 0;
				}
			}
		}

		// img {
		// 	display: block;
		// 	max-width: 520px;
		// 	margin: 0 auto;
		// 	padding: 1rem 0;
		// }
	}

	&__gif {
		display: block;
		width: 36px;
		margin: 0 auto;

		img {
			width: 100%;
		}
	}

	&--alt {
		.work-page {
			&__title {
				position: relative;
				display: flex;
				@include backlight(0, 0, 40px, 0.95, .75, #0fffc1, #7e0fff, 10s);

				span {
					background-color:  #191919;
					height: 100%;
					width: 100%;
					padding: 2rem 3rem;
				}
			}
		}
	}
}

.project-section {
	position: relative;
	// min-height: 80vh;
	border-bottom: 2px solid $blue;

	&__inner {
		// @include container(large);
		padding-top: 4rem;
		padding-bottom: 4rem;
		overflow: hidden;
	}

	&__title {
		font-size: 48px;
		font-weight: 700;
		text-align: center;
		padding-bottom: 4rem;
		margin: 0;
	}

	&__summary {
		font-size: 36px !important; 
	}

	&__intro {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__team {
		&--inline{
			display: flex;
			justify-content: center;
			align-items: flex-top;
			padding-top: 3.25rem;

			.project-section__team-member {
				margin: 0 1.75rem;
			}
		}
	}

	&__team-member {
		padding: 0.75rem 0;

		strong {
			display: block;
			font-weight: 400;
			padding-bottom: 0.25rem;
		}
		span {
			font-weight: 700;
			font-size: 24px;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__img {
		display: block;
		position: relative;
		max-height: 600px;
		overflow: hidden;
		border-radius: 8px;
		// left: -5rem;

		img {
			display: inherit;
			border-radius: 8px;
		}

		&--1 {}
		&--2 {}
		&--3 {}
		&--4 {}

		&--fixed {
			// position: absolute;
			// left: -5vw;
			// bottom: -10vh;
			// top: 50%;
			// transform: translateY(-50%);

			img {
				max-height: 65vh;
			}
		}
	}

	&__problem {
		display: flex;
		justify-content: space-between;
	}

	&__mockups {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
	}
	
	&:nth-child(1){
		background-color: #00000050;
	}

	&:nth-child(2){
		background-color: #00000040;
	}

	&:nth-child(3){
		background-color: #00000030;
	}
	
	&:nth-child(4){
		background-color: #00000020;
	}
	
	&:nth-child(5){
		background-color: #00000010;
	}
}