.button {
	display: inline-block;
	border: 2px solid $theme-accent;
	border-radius: 4px;
	padding: 1rem 2.5rem;
	font-size: 1.25rem;
	cursor: pointer;
	transition: all 350ms ease;

	&:hover {
		color: $theme-background;
		background-color: $theme-accent;
	}
}