.button {
	display: inline-block;
	border: 2px solid var(--accent-color-hsl);
	border-radius: 4px;
	padding: 1rem 2.5rem;
	font-size: 1.25rem;
	cursor: pointer;
	transition: all 350ms ease;

	&:hover {
		color: var(--bg-color-hsl);
		background-color: var(--accent-color-hsl);
	}
}