$desktop-width: 800px;
$desktop-height: calc(#{$desktop-width} * (9/16));
$tablet-width: 300px;
$box-shadow: 0px 6px 8px 0 hsla(0, 0%, 0%, .4);
$box-shadow-hover: 0px 10px 12px 0 hsla(0, 0%, 0%, .25);

.desktop {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 800px;
  
	&__screen {
		position: relative;
		z-index: 3;
		max-width: 800px;
		background-color: var(--black-hsl);
		border: 12px solid var(--black-hsl);
		border-radius: 8px;
		box-shadow: $box-shadow;
		overflow: hidden;

		video,
		img {
			display: inherit;
		}
	}	
  
	&__stand {
		height: calc(#{$desktop-height} / 6);
		width: calc(#{$desktop-width} / 5);
		width: 21.5%;
		min-width: 50px;
		background-color: #666666;
		box-shadow: $box-shadow;	
	}
  
  &__base {
		width: calc(#{$desktop-width} / 2.5);
		width: 43%;
		min-width: 100px;
		height: 16px;
		background-color: var(--black-hsl);
		border-radius: 8px 8px 0 0;
		box-shadow: $box-shadow;
	}
}

.tablet {
	position: relative;
	max-height: calc(#{$tablet-width} * (4/3));
	width: $tablet-width;
	background-color: var(--black-hsl);
	border: 12px solid var(--black-hsl);
	border-top-width: 30px;
	border-bottom-width: 30px;
	border-radius: 12px;
	box-shadow: $box-shadow;
  
	&__screen {
		height: 100%;
		width: 100%;
		max-height: 340px;
		border-radius: 2px;
		overflow: hidden;
	}
  
  &:after {
		display: inline-block;
		content: '';
		position: absolute;
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);
		height: 17px;
		width: 17px;
		background-color: #ffffff15;
		border-radius: 100%;
		border: 2px solid #ffffff30;
	}
}

$phone-width: 150px;
$phone-border-radius: $phone-width / 8;

.iphone {
	position: relative;
    max-height: calc(#{$phone-width} * (1/.488));
    width: $phone-width;
    background-color: var(--black-hsl);
    border: 8px solid var(--black-hsl);
    border-radius: $phone-border-radius;
    box-shadow: $box-shadow;
  
  &__screen {
    height: 100%;
    width: 100%;
    border-radius: calc(#{$phone-border-radius} * 0.6667);
	overflow: hidden;
  }
  
  &:after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: $phone-width / 15; //10px
    width: calc(#{$phone-width}* 0.35);
    background-color: var(--black-hsl);
    border-radius: 0 0 8px 8px;
  }
}

$phone-width: 300px;
$phone-border-radius: $phone-width / 8;

.iphone--large {
	position: relative;
	margin: 0 auto;
	height: calc(#{$phone-width} * (1/.488));
    max-height: none;
	width: $phone-width;
	background-color: var(--black-hsl);
	border: 8px solid var(--black-hsl);
	border-radius: $phone-border-radius;
	box-shadow: $box-shadow;
	
	.iphone {
		&__screen {
			height: 100%;
			width: 100%;
			border-radius: calc(#{$phone-border-radius} * 0.9);
			background-image: url(http://www.fillmurray.com/134/291);
			background-size: cover;
			overflow: hidden;
		}
	}
		
	&:after {
		display: inline-block;
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: $phone-width / 15; //10px
		width: calc(#{$phone-width}* 0.35);
		background-color: var(--black-hsl);
		border-radius: 0 0 12px 12px;
	}
}