$duration: 20s;

.animation {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: var(--hero-color-bg-hsl);

	&__gradient {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		&--to-right {
			@include ease-in-out-sine-gradient-hsl(var(--hero-color2-h), var(--hero-color2-s), var(--hero-color2-l), to right);
			background-size: 400%;
			background-position: center;
			animation: backgroundMoveX ($duration/2) ease-in-out infinite;
		}
		
		&--to-bottom {
			@include ease-in-out-sine-gradient-hsl(var(--hero-color3-h), var(--hero-color3-s), var(--hero-color3-l), to bottom);
			animation: backgroundMoveY $duration ease infinite;
		}
		
		&--to-top-left {
			@include ease-in-out-sine-gradient-hsl(var(--hero-color1-h), var(--hero-color1-s), var(--hero-color1-l), to top left);
		}
	}

	&__star {
		position: absolute;
		left: 10%;
		top: 50%;
		height: 15px;
		width: 15px;
		border-radius: 100%;
		box-shadow: 0 0 5px rgba(255,255,255,1);
		background-color: var(--text-color-hsl);
		animation-name: shooting-star;
		animation-duration: 6s;
		animation-iteration-count: infinite;
		animation-timing-function: cubic-bezier(.32,.81,.35,.87);
	}
}