.multi-code {
	position: relative;
	z-index: 1;
	margin: 8px;
	border-radius: 8px;

	&__options {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--glow-color2-hsl);
		border-radius: 8px 8px 0 0;
		position: relative;
		padding-top: 8px;
		margin-bottom: -8px;
	}

	&__option {
		position: relative;
		top: -8px;
		background-color: var(--glow-color2-hsl);
		padding: 0.75rem 1.5rem;
		border-radius: 8px 8px 0 0;
		cursor: pointer;

		&:hover {
			background-color: hsl-darken(var(--glow-color2-h), var(--glow-color2-s), var(--glow-color2-l), .1);
		}

		&--selected {
			background-color: hsl-darken(var(--glow-color2-h), var(--glow-color2-s), var(--glow-color2-l), .25);
		}
	}

	&__body {
		position: relative;
		max-width: 100%;
		overflow: hidden;
		border-top: 2px solid var(--glow-color1-hsl);
	}
	
	&__pane {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		height: 400px;

		.highlighter-rouge,
		.highlight,
		code,
		pre {
			height: 100%;
		}

		.highlighter-rouge {
			margin: 0;

			&:after{
				content: none;
			}
		}

		&--selected {
			position: relative;
			z-index: 9;
			opacity: 1;
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: -8px;
		left: -8px;
		z-index: -1;
		height: calc(100% + 16px);
		width: calc(100% + 16px);
		border-radius: 8px;
		background-image: linear-gradient(to bottom, var(--glow-color1-hsl) 0%, var(--glow-color2-hsl) 100%);
		box-shadow: $box-shadow-img;
	}
}


@media (max-width: $breakpoint-mobile) {
	.multi-code {
		&__options{
			flex-wrap: wrap;
		}
		&__option {
			flex: 1 1 150px;
		}
		&__pane {
			height: auto !important;
		}
	}
}