.multi-code {
	position: relative;
	z-index: 1;
	margin: 8px;
	border-radius: 8px;

	&__options {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color:#7e0fff;
		border-radius: 8px 8px 0 0;
		position: relative;
		padding-top: 8px;
		margin-bottom: -8px;
	}

	&__option {
		position: relative;
		top: -8px;
		background-color: #7e0fff;
		padding: 0.75rem 1.5rem;
		border-radius: 8px 8px 0 0;
		cursor: pointer;

		&:hover {
			background-color: darken(#7e0fff, 10%);
		}

		&--selected {
			background-color: darken(#7e0fff, 20%);
		}
	}

	&__body {
		position: relative;
		max-width: 100%;
		overflow: hidden;
		border-top: 2px solid #0fffc1;
	}
	
	&__pane {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		height: 400px;

		.highlighter-rouge,
		.highlight,
		code,
		pre {
			height: 100%;
		}

		.highlighter-rouge {
			margin: 0;
			&:after{
				content: none;
			}
			::-webkit-scrollbar {
				width: 8px;
				height: 8px;
			}
			::-webkit-scrollbar-track {
				background: transparent;
			}
			::-webkit-scrollbar-thumb {
				background: #888;
				border-radius: 8px;
			}
			::-webkit-scrollbar-corner { 
				background: transparent; 
			}
		}

		&--selected {
			position: relative;
			z-index: 9;
			opacity: 1;
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: -8px;
		left: -8px;
		z-index: -1;
		height: calc(100% + 16px);
		width: calc(100% + 16px);
		border-radius: 8px;
		background-color: $gray;
		background-image: linear-gradient(to bottom, #0fffc1 0%, #7e0fff 100%);
		box-shadow: $box-shadow-img;
	}
}