.social-links {
	margin: 0;
	padding: 0;
	height: 2rem;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__icon {
		margin: 0 0.75rem;
		text-align: center;
		height: 2rem;
		width: 2rem;
		line-height: 2rem;
		font-size: 2rem;
	}
}