.social-links {
	margin: 0;
	padding: 0;
	height: 2rem;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__icon {
		margin: 0 0.75rem;
		text-align: center;
		height: 2rem;
		width: 2rem;
		line-height: 2rem;
		font-size: 2rem;

		a:before {
			color: var(--accent-color-hsl);
		}

		&:hover {

			a,
			a:before {
				color: hsl-darken(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.2);
				transition: all 350ms ease;
			}
		}
	}
}