@keyframes shooting-star{
	0% {
		left: -5%;
		top: 20%;
		height: 15px;
		width: 15px;
		opacity: 1;}
	50% {
		left: -5%;
		top: 20%;
		height: 15px;
		width: 15px;
		opacity: 1;
	}
	90% {
		height: 2px;
		width: 2px;
		opacity: 0.8;
	}
	100% {
		left: 105%;
		top: 80%;
		height: 0;
		width: 0;
		opacity: 0.1;
	}
}