:root {
	--background-color: #0f1a1c;
	--background-color2: #2A484E;
	--text-color: #DDEFE3;
	--accent-color: #A8D8CD;
	--accent-color-hover: #62b8a5;


	--bg2-color-h: 190;
	--bg2-color-s: 30%;
	--bg2-color-l: 24%;
	--bg2-color-hsl: hsl(var(--bg2-color-h), var(--bg2-color-s), var(--bg2-color-l));
}

$navy: #03263A;
$blue: #36578C;
$green: #4EA701;
$gray: #90918C;
$white: #FFFFFF;

$color1: #2A484E;
$color2: #377375;
$color3: #A8D8CD;
$color4: #DDEFE3;
$color5: #CE4A50;

$theme-background: #0f1a1c;
$theme-background2: #2A484E;
$theme-text: #DDEFE3;
$theme-subtitle: #a9d7b8;
$theme-accent: #A8D8CD;
$theme-heading: #DDEFE3;
$theme-accent-hover: #62b8a5;
$theme-accent-darken: #408e7c;

$theme-background2-hsl: hsl(190, 30%, 24%);

$percentage: 2%;
$hsl-percentage: 0.05;

$breakpoint-tablet: 1024px;
$breakpoint: 860px;
$breakpoint-mobile: 576px;

@import 'vendors/sass-code-highlight/monokai.scss';


html {
	font-size: 16px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.body {
	position: relative;
	min-height: 100vh;
	background-color: $theme-background2;
	overflow-x: hidden;
	transition: all 350ms ease;

	&__light-mode {
		background-color: $theme-background;

		.section {
			&__title,
			&__subtitle,
			&__text {
			}
		}

		.header {
			background-color: $theme-background2;
		}

		.footer {
			background-color: $theme-background2;

			&__text {
				color: $theme-background;
			}

			&:before {
				border-top: solid 100px $theme-background;
				border-left: solid 50vw $theme-background2;
				border-right: solid 50vw $theme-background2;
			}
		}
	}
}

a {
	color: $theme-accent;
}

p {
	line-height: 1.35;
}

pre {
	padding: 1rem;
}