$navy: #03263A;
$blue: #36578C;
$green: #4EA701;
$gray: #90918C;
$white: #FFFFFF;

html {
	font-size: 16px;
	color: $navy;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
	background-color: $blue;
}