&--about {
	.section {
		&__inner {
			padding: 4rem 0 12rem;
		}

		&__title {
			padding-bottom: 6rem;
		}

		&__text {
			text-align: justify;
			margin-bottom: 1rem;
		}

		&__skills-list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-top: 1rem;
		}

		&__list-item {
			width: 50%;
			padding: 0.25rem 0;
			text-align: left;
			color: $white;
		}
	}
}
