&--hero {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	justify-content: center;
	background-color: $gray;
	height: 85vh;
	border-bottom: 4px solid $green;

	.section {
		&__title,
		&__text {
			color: white;
		}

		&__inner {
			position: relative;
			z-index: 8;
			border-bottom: none;
			text-align: center;
			padding: 1rem 0 2rem;
		}
	}
}