&--about {
	.section {
		&__inner {
			padding-bottom: 8rem;
		}

		&__title {
			padding: 6rem 0;
		}

		&__text {
			text-align: left;
			margin-bottom: 1rem;
		}

		&__skills-list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			> li {
				width: 50%;
				text-align: left;
			}
		}

		&__list-item {
			width: 50%;
		}
	}
}
