&--about {
	.section {
		&__inner {
			padding: 4rem 0 12rem;
		}

		&__title {
			padding-bottom: 6rem;
		}

		&__text {
			text-align: left;
			margin-bottom: 1rem;
		}

		&__skills-list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-top: 1rem;
		}

		&__list-item {
			width: 50%;
			padding: 0.25rem 0;
			text-align: left;
			color: $theme-text;

			&:before {
				content: '';
				position: relative;
				top: -3px;
				display: inline-block;
				margin-right: 0.5rem;
				background-color: darken($theme-accent, 35%);
				height: 5px;
				width: 5px;
				transform: rotate(45deg);
			}
		}
	}
}
