.section {
	position: relative;
	@include container();
	padding-bottom: 0;
	padding-top: 0;

	&__inner {
		text-align: center;
		padding: 10rem 1rem 12rem;
	}

	&__img {
		display: block;
		margin: 0 auto 1rem;
		border-radius: 100%;
	}

	&__title {
		font-size: 48px;
		font-weight: 700;
		color: $theme-text;
		padding: 0 0 6rem;
		margin: 0;
		@include text-shadow();

		&--has-subtitle {
			padding-bottom: 1rem;
		}
	}

	&__subtitle {
		font-size: 20px;
		color: $theme-text;
		@include text-shadow();
		margin: 0 auto;
		max-width: 480px;
		padding-bottom: 6rem;
	}

	// About Section
	&__about-body {
		max-width: 468px;
		margin: 0 auto;
	}

	&__text {
		font-size: 20px;
		text-align: left;
		margin-bottom: 1rem;
		color: $theme-text;
	}
	
	&__skills-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 1rem;
	}

	&__list-item {
		width: 50%;
		padding: 0.25rem 0;
		text-align: left;
		color: $theme-text;

		&:before {
			content: '';
			position: relative;
			top: -3px;
			display: inline-block;
			margin-right: 0.5rem;
			background-color: darken($theme-accent, 35%);
			height: 5px;
			width: 5px;
			transform: rotate(45deg);
		}
	}

	// Project Section
	&__projects {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	// Contact Section
	&__gif {
		display: block;
		width: 36px;
		margin: 0 auto;
		padding-bottom: 1rem;

		img {
			width: 100%;
		}
	}

	@for $i from 2 to 6 {
		&:nth-last-child(#{$i}){
			background-color: darken($theme-background2, $percentage * ($i - 1));

			@if ($i == 2){
				margin-bottom: 100px;
				&:after {
					@include after-section-angle(darken($theme-background2, $percentage), $theme-background2, true);
				}
			}
		}
	}

	&:last-child {
		background-color: $theme-background2;
	}
	
	@import 'section-about';
	@import 'section-hero';
	@import 'section-blog';
	@import 'section-contact';
	@import 'section-projects';
}

@media (max-width: $breakpoint-mobile) {
	.section {
		&__inner {
			padding: 5rem 1rem;
		}
		&__title {
			font-size: 36px;
		}
		&--contact {
			.section {
				&__inner {
					padding: 5rem 1rem;
				}
			}
		}
	}
}