.section {
	@include container();
	padding-bottom: 0;

	&__inner {
		border-bottom: 2px solid $navy;
		text-align: center;
		padding: 1rem 0 2rem;
	}

	&__img {
		display: block;
		margin: 0 auto 1rem;
		border-radius: 100%;
	}

	&__title {
		font-size: 48px;
		margin: 0;
		padding-bottom: 2.5rem;
	}

	&__subtitle {
		font-size: 20px;
	}

	&__text {
		font-size: 20px;
	}

	&__row {
		display: flex;
		justify-content: space-between;

		&--align-items-center {
			align-items: center;
		}
	}

	&__column {
		width: calc(50% - 1rem);
	}

	&__works {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 1rem 0 0;
	}

	&__work {
		flex: 1 1 320px;
		height: 320px;
		padding: 0.5rem;
	}
	
	@import 'section-about';
	@import 'section-hero';
	@import 'section-blog';
	@import 'section-contact';
	@import 'section-projects';
}