&--blog {
	.section {
		&__inner {
			padding: 4rem 0 14rem;
		}

		&__see-all {
			display: inline-block;
			padding-top: 1rem;

			&:after {
				content: '>';
				padding-left: 0.5rem;
			}
		}
	}
}