{% include head.html %}

<body class="body project-page">
	{% include header.md %}
	<main class="main">
		<div class="main__inner project">
			<div class="project__hero">
				<h1 class="project__title">
					<span>{{ page.title }}</span>
				</h1>
				<ul class="project__tool-list">
					{% for tool in page.tools %}
					<li class="project__tool-list-item">{{ tool }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="project__content">
				{{ content }}
			</div>
		</div>
		{% include section-contact.html %}
	</main>
	{% include footer.html %}
</body>

</html>