<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/styles.css">

	<!-- javascript -->
	<script src="https://kit.fontawesome.com/d3bfb2ecca.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>
</head>

<body class="body">
	{% include header.html %}
	<main class="main">
		<div class="main__inner work-page">
			<div class="work-page__hero">
				<h1 class="work-page__title">{{ page.title }}</h1>
				<ul class="work-page__tool-list">
					{% for tool in page.tools %}
					<li class="work-page__tool-list-item">{{ tool }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="work-page__content">
				{{ content }}
			</div>
		</div>
	</main>
	{% include footer.html %}
</body>

</html>